PORT=8000
MONGODB_URI=mongodb+srv://sachinshakyaofficial_db_user:EfCe5trwZrt2pVVv@cluster0.nudy9nj.mongodb.net
CORS_ORIGIN=*
DB_NAME=backend-template

ACCESS_TOKEN_SECRET=csdfDFAFDjasdf-demo
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=dfjklsdfjlkajls-demo
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=